# دیتابیس PostgreSQL (لوکال: داکر | پروداکشن: Neon/Supabase)
# نمونه Neon: postgresql://user:pass@ep-xxx-pooler.region.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://express:express@localhost:5432/shoes_shop"

# کلید NextAuth (یک رشته تصادفی طولانی)
AUTH_SECRET="shoeland-dev-secret-key-change-in-production-2024"

# درگاه زرینپال
ZARINPAL_MERCHANT_ID="a0c6a9f0-2c62-11e9-8f9a-000c295eb8fc"

# فقط روی Vercel (بعد از فعالسازی Blob Store خودکار داده میشود)
# BLOB_READ_WRITE_TOKEN=""
